/* fonts import */
@import url(/css/fonts/stylesheet.css);
@font-face {
	font-family: 'Conv_Belleza-Regular';
	src: url('fonts/Belleza-Regular.eot');
	src: local('☺'), url('fonts/Belleza-Regular.woff') format('woff'), url('fonts/Belleza-Regular.ttf') format('truetype'), url('fonts/Belleza-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */
body{
    font-family: 'aeonik_trialregular';
}
.nav-height{
    height: 94px;
} 
.navbar-nav{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.44351px;
    color: #000000;
}
.nav-height .nav-item {
padding-left: 22px;
padding-right: 23px;
}
.title{
    font-family: 'Belleza';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 111px;
display: flex;
align-items: center;
letter-spacing: -0.5px;
color: #010101;
}

.sec-info{
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #000000;
}
.btn-learn{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
}
.slide-section{
    background: rgb(237,237,237);
    background: linear-gradient(360deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 10%, rgba(237,237,237,1) 14%, rgba(237,237,237,1) 15%, rgba(237,237,237,1) 21%, rgba(237,237,237,1) 25%, rgba(237,237,237,1) 29%, rgba(237,237,237,1) 33%, rgba(237,237,237,1) 40%, rgba(255,255,255,1) 100%);
}
.card img {
    height: 480px;
}
.card-body{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

text-align: right;
}
.feed-section .feed-img{
    background-image: url(../images/serame_36.png);
    background-repeat: no-repeat;
    height: 746px;
}

footer{
    background: #F3F3F3;
}
footer .nav-height{
    height: 160px;
}
.nav-link i {
    color: #000;
}